.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  z-index: 1000;
  
  
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  
}

/* Logo */
.logo a {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text);
}

.logo span {
  color: var(--primary);
}

/* Menu */
.menu {
  display: flex;
  gap: 32px;
  list-style: none;
  
}

.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-muted);
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: var(--primary);
}

/* Right section */
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Theme button */
.themeBtn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--text);
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
  
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    
  }
  .menu {
    position: fixed;;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: var(--bg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    
  }

  .menu.active {
    transform: translateX(0);
    /* z-index: 111111111111111; */
  }
}

/* Hamburger animation */
.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
